@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia57.Models.Post
@{
    Layout = "_Layout";
}

<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="Create" asp-controller="blog57">
        @*@Html.ValidationSummary()*@
        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
        <p>
            <label asp-for="Title57"></label>
            <input asp-for="Title57" class="form-control" placeholder="Blog post title" />
            <span asp-validation-for="Title57"></span>
        </p>

        <p>
            <label asp-for="Body57"></label>
            <textarea asp-for="Body57" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Body57"></span>
        </p>

        <p>
            <button type="submit">Create Post</button>
        </p>
    </form>
</fieldset>
