@model ExploreCalifornia57.Models.Post
@{
    Layout = "_Layout";
}

<article class="blog-post">
    <h1>@Model.Title57</h1>
    <div class="details">
        Posted <span>@Model.Posted57</span> by <span>@Model.Author57</span>
    </div>
    <div class="content">
        @Model.Body57
    </div>
</article>